* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif; }

html {
  font-size: 62.5%; }

body {
  background: radial-gradient(circle, #3C92A6, #020F59); }

#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 3, 1fr;
  grid-template-areas: "header-logo" "header-titulo" "header-login" "main" "main" "main" "footer" "footer" "footer"; }

/*-------------------------- HEADER ------------------------ */
#header {
  display: flex;
  align-items: center;
  text-align: center; }
  #header .header-logo {
    width: 25vw;
    height: 20vh;
    grid-area: header-logo;
    border-radius: 0.5rem; }
    #header .header-logo img {
      width: 20rem; }
  #header .header-titulo {
    width: 50vw;
    height: 30vh;
    grid-area: header-titulo;
    display: flex;
    align-items: center;
    justify-content: center; }
    #header .header-titulo h1 {
      font-size: 5rem;
      font-weight: 900; }
  #header .header-saludo {
    width: 50vw;
    height: 30vh;
    grid-area: header-titulo;
    display: none;
    align-items: center;
    justify-content: center; }
    #header .header-saludo h1 {
      font-size: 5rem; }
  #header .header-login {
    width: 25vw;
    height: 30vh;
    grid-area: header-login;
    display: flex;
    align-items: center;
    justify-content: center; }
    #header .header-login #login {
      display: flex;
      flex-direction: column;
      font-size: 2rem; }
      #header .header-login #login label {
        margin: 0.5rem; }
      #header .header-login #login p {
        display: none; }
      #header .header-login #login input {
        font-size: 1em; }
    #header .header-login button {
      display: none;
      font-size: 2rem;
      border: solid black 0.2rem;
      color: 0; }

/*-------------------------- MAIN ------------------------ */
#main {
  width: 100vw;
  height: 500vh;
  grid-area: main; }

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  #main nav {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 8vh;
    border: white 0.5rem solid;
    border-radius: 0.5rem; }
    #main nav div {
      background: radial-gradient(ellipse, #3C92A6, #020F59); }
      #main nav div ul {
        width: 100%;
        display: flex;
        justify-content: space-around; }
        #main nav div ul a {
          font-size: 3rem;
          font-weight: bolder;
          color: white; }
  #main .main-productos {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly; }
    #main .main-productos .imagen {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin: 2rem; }
      #main .main-productos .imagen .imagen-img {
        display: flex; }
        #main .main-productos .imagen .imagen-img img {
          width: 29rem;
          height: 30rem;
          margin: 1rem;
          border: 0.5rem solid white;
          border-radius: 0.5rem;
          transition: none;
          transform: none; }
      #main .main-productos .imagen button {
        width: 80%;
        font-size: 2rem;
        font-weight: 900;
        border: #fff;
        border-radius: 2rem; }
  #main .form-new-user {
    border: 0.5rem solid white;
    border-radius: 2rem;
    width: 40rem;
    height: 35rem; }
    #main .form-new-user .registro {
      width: 40rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #main .form-new-user .registro label {
        font-size: 2.5rem;
        margin: 1rem; }
      #main .form-new-user .registro .boton-registro {
        display: flex;
        width: 100%;
        justify-content: center; }
        #main .form-new-user .registro .boton-registro input {
          width: 50%;
          border-radius: 2rem; }

/*-------------------------- FOOTER ------------------------ */
#footer {
  width: 100vw;
  height: 40vh;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #footer button {
    margin: 2rem;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 600; }
  #footer #modo-claro {
    display: none; }

/*-------------------------- CARRUSEL ------------------------ */
.swiper {
  width: 75%;
  height: 80vh; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .swiper-slide .imagen-carrusel {
    height: 99%;
    width: 99%; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

#container-favoritos {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: 2, 1fr;
  grid-template-areas: "header-favoritos"  "main-favoritos"; }

#header-favoritos {
  grid-area: header;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  #header-favoritos .titulo-favoritos {
    font-size: 6rem;
    font-size: 900;
    margin-left: 10rem; }
  #header-favoritos button {
    width: 20rem;
    font-size: 3rem;
    border-radius: 2rem; }

#main-favoritos {
  grid-area: main;
  width: 100vw;
  height: 150vh;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #main-favoritos .contenedor-favoritos {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #main-favoritos .contenedor-favoritos .imagen {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin: 2rem; }
      #main-favoritos .contenedor-favoritos .imagen .imagen-img {
        display: flex; }
        #main-favoritos .contenedor-favoritos .imagen .imagen-img img {
          width: 29rem;
          height: 30rem;
          margin: 1rem;
          border: 0.5rem solid white;
          border-radius: 0.5rem;
          transition: none;
          transform: none; }
      #main-favoritos .contenedor-favoritos .imagen button {
        width: 80%;
        font-size: 2rem;
        font-weight: 900;
        border: #fff;
        border-radius: 2rem; }
  #main-favoritos .mensaje {
    display: none;
    font-size: 8rem;
    font-weight: 900;
    justify-content: center;
    align-items: center; }
